* {
  margin: 0;
  padding: 0;
}

.upper-bar,
.logo-navbar {
  display: none;
}

.sections-navbar {
  display: none;
  background-color: rgba(110, 110, 110, 85%);
  height: 74%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-image: url(./imgs-capstone/background-two.jpg);
  background-size: cover;
  background-position: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255 252 252 / 65%);
}

.close-btn {
  background: none;
  border: none;
  height: 40px;
  margin: 20px 0 50px 30px;
  align-self: flex-start;
}

.sec-navbar {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: "Lato", 'Courier New', Courier, monospace;
  color: #ff4f38;
  font-weight: 600;
  text-decoration: none;
}

.background-div {
  background-image: url(./imgs-capstone/background-two.jpg);
  background-size: cover;
  background-position: center;
}

.nav-bar {
  background-color: rgb(255 252 252 / 65%);
}

.menu-btn {
  background: none;
  border: none;
  height: 40px;
  margin: 20px 0 0 30px;
}

.home-page {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(255 252 252 / 65%);
  padding: 0 0 0 15px;
}

.home-subtitle {
  font-size: 22px;
  margin-bottom: 10px;
  padding-top: 35px;
  font-family: "Lato", 'Courier New', Courier, monospace;
  font-weight: 500;
  color: #ec5242;
}

.home-title {
  font-size: 33px;
  margin-bottom: 20px;
  font-family: "COCOGOOSE", sans-serif;
  color: #ec5242;
  font-weight: 500;
}

.home-text {
  font-size: 17px;
  margin: 0 15px 20px 0;
  background-color: #f7f7f7;
  padding: 8px;
  border: solid 2px #fff;
  font-family: "Lato", 'Courier New', Courier, monospace;
  color: #272a31;
}

.home-contact-us {
  margin: 0 30px 8px 30px;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-size: 15px;
  text-align: center;
  color: #4d4d4d;
}

.contact-link {
  color: #4d4d4d;
  font-weight: 600;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-size: 15px;
}

.contact-us-link {
  margin: 0 0 40px 0;
  text-align: center;
  color: #4d4d4d;
  font-weight: 600;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-size: 15px;
}

.creative-commons {
  border-bottom: solid 0.5px #c9c9c9;
  display: flex;
  flex-direction: column;
}

.creative-past-title {
  color: #4d4d4d;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
  font-size: 24px;
}

.span-red {
  height: 2px;
  width: 45px;
  background-color: #ff4f38;
  display: block;
  margin: 15px 0;
  align-self: center;
}

.creative-past-text {
  margin: 0 30px 8px 30px;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-size: 15px;
  text-align: center;
  color: #4d4d4d;
}

.logo {
  background-color: black;
  border: solid 0.5px #c9c9c9;
  border-radius: 100px;
  margin: 40px 20px;
  width: 200px;
  max-width: 40%;
  align-self: center;
}

.past-festivals {
  display: flex;
  flex-direction: column;
}

.editions {
  display: flex;
  flex-direction: column;
  margin: 30px;
  position: relative;
  height: 25vh;
}

.edition-image {
  height: 100%;
}

.edition-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 81, 0, 0.35);
  gap: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.edition-year,
.edition-text {
  color: #fff;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  text-align: center;
}

.sponsors-main {
  display: flex;
  flex-direction: column;
  background-color: #272a31;
}

.sponsor-title {
  color: #fff;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
  font-size: 24px;
}

.sponsors {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 20px 0 40px 0;
}

.sponsors-img {
  width: 100px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-footer {
  background-color: black;
  border: solid 0.5px #c9c9c9;
  border-radius: 100px;
  margin: 20px;
  height: 60px;
}

.footer-text-box {
  color: #4d4d4d;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .upper-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 100px 8px 0;
    background-color: #272a31;
    gap: 15px;
  }

  .socialmedia-icon {
    height: 15px;
  }

  .upper-section {
    color: #fff;
    margin-left: 12px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
  }

  .logo-navbar {
    display: flex;
    justify-self: flex-start;
    height: 46px;
    background-color: black;
    border-radius: 100px;
    margin-left: 50px;
  }

  .sections-navbar {
    display: flex;
    background: none;
    z-index: 0;
    position: inherit;
    justify-content: flex-end;
  }

  .links {
    flex-direction: row;
    width: max-content;
    gap: 40px;
    padding: 20px;
    background: none;
    padding-right: 100px;
  }

  .close-btn {
    display: none;
  }

  .sec-navbar {
    text-decoration: none;
    color: #4d4d4d;
    font-family: 'Lato', 'Courier New', Courier, monospace;
    font-size: 14px;
    margin-bottom: 0;
  }

  .sec-navbar:hover {
    color: #ec5242;
    text-decoration: underline;
  }

  .campaign-navbar {
    text-decoration: none;
    color: #ff4f38;
    font-family: 'Lato', 'Courier New', Courier, monospace;
    font-size: 14px;
    border: solid #ff4f38;
    padding: 5px;
  }

  .home-page {
    text-align: center;
    padding-bottom: 50px;
  }

  .home-subtitle {
    font-size: 25px;
    padding-top: 80px;
    margin-bottom: 30px;
  }

  .home-title {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .home-text {
    align-self: center;
    margin-bottom: 40px;
    text-align: center;
    width: 55%;
  }

  .creative-past-title {
    padding-top: 50px;
  }

  .editions-box {
    display: flex;
    justify-content: center;
    padding: 30px 0 50px 0;
  }

  .editions {
    width: 25%;
  }

  .sponsors-main {
    display: none;
  }

  .footer {
    background-color: #272a31;
    padding: 30px 0;
  }

  .footer-text {
    color: #fff;
  }
}
