* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./imgs-capstone/background-two.jpg);
  background-repeat: no-repeat;
  background-size: auto 587px;
  background-position-x: -546px;
}

.nav-bar {
  background-color: rgb(255 252 252 / 65%);
}

.menu-btn {
  border: none;
  background: none;
  padding: 15px 0 0 20px;
}

.close-btn {
  background: none;
  border: none;
  align-self: flex-start;
  margin: 15px 0 40px 20px;
}

.ham-btn {
  width: 40px;
  height: 40px;
}

.home-page {
  padding: 0 20px 0 20px;
  background-color: rgb(255 252 252 / 65%);
  display: flex;
  flex-direction: column;
}

.home-subtitle {
  font-size: 22px;
  margin-bottom: 10px;
  padding-top: 35px;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-weight: 500;
  color: #ff4f38;
}

.home-title {
  font-size: 33px;
  margin-bottom: 20px;
  font-family: "COCOGOOSE", 'Courier New', Courier, monospace;
  color: #ff4f38;
  font-weight: 500;
}

.home-text {
  font-size: 17px;
  margin: 0 0 20px 0;
  background-color: #f7f7f7;
  padding: 8px;
  border: solid 2px #fff;
  font-family: "Lato", 'Courier New', Courier, monospace;
  color: #4d4d4d;
  text-align: center;
}

.home-contact-us {
  margin: 0 30px 8px 30px;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-size: 15px;
  text-align: center;
  color: #4d4d4d;
}

.contact-link {
  color: #4d4d4d;
  font-weight: 600;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-size: 15px;
}

.contact-us-link {
  margin: 0 0 40px 0;
  text-align: center;
  color: #4d4d4d;
  font-weight: 600;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-size: 15px;
}

.creative-commons {
  border-bottom: solid 0.5px #c9c9c9;
  display: flex;
  flex-direction: column;
}

.creative-past-title {
  color: #4d4d4d;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
  font-size: 24px;
}

.creative-past-text {
  margin: 0 30px 8px 30px;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-size: 15px;
  text-align: center;
  color: #4d4d4d;
}

.past-festivals {
  display: flex;
  flex-direction: column;
}

.span-red {
  height: 2px;
  width: 45px;
  background-color: #ff4f38;
  display: block;
  margin: 15px 0 25px 0;
  align-self: center;
}

.logo {
  width: 325px;
  background-color: black;
  margin: 30px 25px 30px 25px;
  border: solid 0.5px #c9c9c9;
  border-radius: 100px;
}

.miami-edition {
  margin: 40px 40px 13px 40px;
  height: 200px;
  background-image: url(./imgs-capstone/miami.webp);
  background-repeat: no-repeat;
  background-size: auto 200px;
}

.toronto-edition {
  margin: 0 40px 40px 40px;
  height: 200px;
  background-image: url(./imgs-capstone/toronto.jpg);
  background-repeat: no-repeat;
  background-size: 295px auto;
  background-position-y: -56px;
}

.edition-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255 0 0 / 35%);
}

.edition-year {
  color: #fff;
  font-family: 'Lato', 'Courier New', Courier, monospace;
}

.edition-text {
  color: #fff;
  font-family: 'Lato', 'Courier New', Courier, monospace;
}

.partner {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
}

.partner-title {
  color: #fff;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
  font-size: 24px;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 35px;
}

.sponsors-img {
  width: 120px;
  margin: 15px 2px 0 2px;
}

.footer {
  display: flex;
}

.footer-img-box {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text-box {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #4d4d4d;
  font-family: 'Lato', 'Courier New', Courier, monospace;
  font-size: 12px;
}

.logo-footer {
  width: 100px;
  background: black;
  border-radius: 100px;
}

.upper-bar {
  display: none;
}

.logo-navbar {
  display: none;
}

.sections-navbar {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: url(./imgs-capstone/background-two.jpg);
  background-repeat: no-repeat;
  background-size: auto 587px;
  background-position-x: -546px;
}

.links {
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255 252 252 / 65%);
}

.display-nav-secs {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: "Lato", 'Courier New', Courier, monospace;
  color: #ff4f38;
  font-weight: 600;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  body {
    background-size: 2013px auto;
    background-position: -177px -82px;
  }

  .menu-btn {
    display: none;
  }

  .more-btn {
    display: none;
  }

  .upper-bar {
    display: flex;
    height: 21px;
    justify-content: flex-end;
    align-items: center;
    background-color: #272a31;
  }

  .facebook-icon {
    height: 15px;
    margin-left: 12px;
  }

  .twitter-icon {
    height: 15px;
    margin: 0 15px 0 12px;
  }

  .upper-section {
    color: #fff;
    margin-left: 12px;
    font-family: 'Lato', 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 13px;
  }

  .logout {
    margin-right: 130px;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 50px;
  }

  .logo-navbar {
    display: flex;
    height: 46px;
    background-color: black;
    margin: 0 130px 0 150px;
    border-radius: 100px;
  }

  .sections-navbar {
    display: flex;
    background: none;
    position: inherit;
  }

  .links {
    flex-direction: row;
    justify-content: flex-end;
    background: none;
    height: 100%;
  }

  .close-btn {
    display: none;
  }

  .sec-navbar {
    margin-right: 40px;
    text-decoration: none;
    color: #4d4d4d;
    font-family: 'Lato', 'Courier New', Courier, monospace;
    font-size: 14px;
    margin-bottom: 0;
  }

  .sec-navbar:hover {
    color: #ec5242;
  }

  .campaign-navbar {
    margin: 0 124px 0 10px;
    text-decoration: none;
    color: #ff4f38;
    font-family: 'Lato', 'Courier New', Courier, monospace;
    font-size: 14px;
    border: solid #ff4f38;
    padding: 5px;
  }

  .home-page {
    padding: 0 130px 20px 130px;
  }

  .home-subtitle {
    display: none;
  }

  .home-title {
    font-size: 40px;
    margin: 65px 0 42px 0;
    text-align: center;
    width: 650px;
    align-self: center;
  }

  .home-text {
    margin-bottom: 40px;
    width: 700px;
    align-self: center;
  }

  .home-date {
    margin-bottom: 20px;
  }

  .home-ubi {
    padding-bottom: 100px;
  }

  .span-red {
    margin: 15px 0 25px 0;
  }

  .creative-commons {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .logo {
    border: solid 2px #c9c9c9;
    align-self: center;
  }

  .past-festivals {
    display: flex;
    flex-direction: column;
  }

  .editions-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 73px;
  }

  .toronto-edition {
    margin: 0 0 0 7px;
    background-size: 365px auto;
    background-position-y: -82px;
  }

  .miami-edition {
    margin: 0 7px 0 0;
  }

  .edition-box {
    width: 356px;
  }

  .partner {
    display: none;
  }

  .footer {
    background-color: #272a31;
    justify-content: space-around;
    align-items: center;
    height: 140px;
  }

  .footer-text {
    color: #fff;
    margin-left: 25px;
  }

  .footer-img-box,
  .footer-text-box {
    width: fit-content;
  }

  .creative-past-title {
    font-size: 26px;
  }

  .creative-past-text {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .showMenu {
    display: none;
  }
}
